<nav class="navigation">
    <div class="navigation__brand">
        <div class="navigation__logo">
            <img src="{{ url_for('static', path='/assets/logo.png') }}" alt="Logo">
        </div>
        <h1 class="navigation__title">
            <a href="/">Metabarcoding Data Analysis</a>
        </h1>
    </div>
    <div class="navigation__links">
        <!-- Web Server dropdown -->
        <div class="dropdown">
            <a href="#" class="dropdown__toggle {% if active_tab == 'web_server' %}active{% endif %}">web server</a>
            <div class="dropdown__menu">
                <a class="dropdown__item {% if active_tab == 'illumina' %}active{% endif %}" 
                   href="/analysis/illumina">Illumina</a>
                <a class="dropdown__item {% if active_tab == 'nanopore' %}active{% endif %}" 
                   href="/analysis/nanopore">Nanopore</a>
            </div>
        </div>
        
        <!-- Contacts link styled as dropdown toggle -->
        <div class="dropdown">
            <a href="#" class="dropdown__toggle {% if active_tab == 'contacts' %}active{% endif %}">contacts</a>
        </div>

        <!-- Auth section -->
        {% if user_authenticated %}
        <!-- Dropdown for authenticated users -->
        <div class="dropdown">
            <a href="#" class="dropdown__toggle {% if active_tab == 'profile' %}active{% endif %}">
                <i class="user-icon"></i> {{ username }}
            </a>
            <div class="dropdown__menu">
                <div class="dropdown__header">Signed in as <strong>{{ username }}</strong></div>
                <a href="/private/me" class="dropdown__item">My Profile</a>
                <div class="dropdown__divider"></div>
                <a href="/auth/logout" class="dropdown__item" id="logout-link">Logout</a>

            </div>
        </div>
        {% else %}
        <!-- Dropdown for guests -->
        <div class="dropdown">
            <a href="#" class="dropdown__toggle">
                profile
            </a>
            <div class="dropdown__menu">
                <a href="/auth/login" class="dropdown__item">Login</a>
                <a href="/auth/register" class="dropdown__item">Register</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>